button1 {
    position: absolute;
    left: 13.5%;
    top:8%;
    size: 6;
    transform: translate(-50, -50);
    background-color: #8c0000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: arial;
}


button2 {
    position: absolute;
    right: 51.5%;
    top: 8%;
    size: 6;
    transform: translate(-50, -50);
    background-color: #8c0000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: arial;
}

button3 {
    position: absolute;
    left: 22.5%;
    top: 8%;
    size-adjust: 20px;
    transform: translate(-50, -50);
    background-color: #8c0000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: arial;
}

button4 {
    position: absolute;
    right: 40.5%;
    top: 8%;
    size: 6;
    transform: translate(-50, -50);
    background-color: #8c0000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: arial;
}

.btn {
    transition: all 0.4s;
}

.btn:hover {
transform: scale(1.3);
}

body {
    background-image: linear-gradient(to bottom, #000435 0%, #000435 20.5%, white 20.5%, white 100%);
    }

    /*.type1{
    width: 60%;
    display: block;
    margin: 0px auto;
}*/
.type2{
    width: 12%;
    position: absolute;
    top: 2.05%;
    left:1.25%;
    transform: translate(-10%,-10%);
    border-radius: 50%;
}



p2 {
    font-family: Arial;
    font-size: 30px;
    text-align: left;
    position: relative;
    bottom: -65px;
    transform: translate(-50, -50);
    left: 66.9%;
    color: white;
   }

.body {
margin: 0;
padding:0;
font-family: arial;
background-size: cover;
background-position:center ;
}
.centerbox{
     padding: 40px;
     background: #000435;
     flex-basis: 50%;
     flex-grow: 1;
     color: #fff;
     top:-250px; 
     align-items: center;
}

.form {
margin:  190px auto;
  width: 90%;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 600px;
}
 .input-box{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    font-size: 12px;
    background:transparent;
 }

p {
    font-family: Arial;
    font-size: 40px;
    text-align: left;
    position: relative;
    bottom: -215px;
    transform: translate(-50, -50);
    left: 45.25%;
    color:black;
   }

   .centerbox button{
      top: 100%;
      background:#fff;
      padding: 12.5px;
      border: 0;
      outline: none;
      font-size: 18px;
      cursor: pointer;
      align-items: center;
      display: block;
      margin:auto;
      margin-bottom: 0;
      gap: 10px;
      
   }
input[type=checkbox]{
margin-top: 10px;

} 

.centerbox label{
     font-size: 20px;
    }

    @media screen and (max-width: 481px){
        button1 {
            position: absolute;
            left: 0%;
            top:2%;
            size: 6;
            transform: translate(-50, -50);
            background-color: #8c0000; /* Green */
            border: none;
            color: white;
            padding: 9.5px 18px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            font-family: arial;
        }
        
        
        button2 {
            position: absolute;
            right: 21.25%;
            top: 2%;
            size: 6;
            transform: translate(-50, -50);
            background-color: #8c0000; /* Green */
            border: none;
            color: white;
            padding: 9.5px 18px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            font-family: arial;
        }
        
        button3 {
            position: absolute;
            left: 17.25%;
            top: 2%;
            size-adjust: 20px;
            transform: translate(-50, -50);
            background-color: #8c0000; /* Green */
            border: none;
            color: white;
            padding: 9.5px 18px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            font-family: arial;
        }
        
        button4 {
            position: absolute;
            right: -2%;
            top: 2%;
            size: 6;
            transform: translate(-50, -50);
            background-color: #8c0000; /* Green */
            border: none;
            color: white;
            padding: 9.5px 18px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            font-family: arial;
        }
        
        body {
            background-image: linear-gradient(to bottom, #000435 0%, #000435 8.5%, white 8.5%, white 100%);
            }
            p2 {
                font-family: Arial;
                font-size: 15px;
                text-align: auto;
                position: relative;
                bottom: 250.5px;
                transform: translate(-50, -50);
                left: -35%;
                color: black;
               }
            
            /*.type1{
             width: 30%;
             display: block;
             margin: 0px auto;
         }*/
         .type2{
             width: 0%;
             position: absolute;
             top: 1%;
             left:0%;
             transform: translate(-10%,-10%);
         }
         /*.type3{
        width: 60%;
        display: block;
        margin: 0px auto;
    }*/
    .type4{
        width: 37.5%;
        position: absolute;
        top: 11%;
        left:39.5%;
        transform: translate(-10%,-10%);
    }
    p1 {
        font-family: 'times new roman';
        size-adjust: 50%;
        font-size: 30px;
        text-align: left;
        transform: translate(-50, -50);
        position: relative;
        bottom: -200px;
        left: 10%;
        }
        p {
            font-family: 'arial';
            size-adjust: 50%;
            font-size: 30px;
            text-align: center;
            transform: translate(-20, -50);
            position: relative;
            bottom: -210.75px;
            left: 0% ;
            }
            .body {
                margin: 0;
                padding:0;
                font-family: arial;
                background-size: cover;
                background-position:center ;
                }
                .centerbox{
                     padding: 40px;
                     background: #000435;
                     flex-basis: 50%;
                     flex-grow: 1;
                     color: #fff;
                     top:-250px; 
                     align-items: center;
                }
                
                .form {
                margin:  190px auto;
                  width: 90%;
                  border-radius: 5px;
                  padding: 15px;
                  text-align: center;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  max-width: 600px;
                }
                 .input-box{
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0;
                    border: 1px solid #fff;
                    outline: none;
                    color: #fff;
                    font-size: 12px;
                    background:transparent;
                 }
                
    }